<div class="container">
    <article class="well breach_item" id="{{item.id}}">
        <a href="/admin/list" class="glyphicon glyphicon-arrow-left"></a>
        <!--<h5>{{item.subject}}</h5>-->
        <a class="btn btn-lg btn-danger center-block" id="remove">Видалити</a>
        <a class="btn btn-lg btn-success center-block" id="update">Оновити</a>
        <h5>
            <input class="expand" id="subject" type="text" value="{{item.subject}}"/>
        </h5>
        <div class="post">
            <p>
                <textarea name="" id="description" cols="100" rows="10">{{item.description}}</textarea>
            </p>
            <p class="author_name"><i>{{item.position}}, {{item.city}}</i></p>
        </div>
     <!--   <div>
            {{#item.publish}}
            <input type="checkbox" id="publish" checked/>
            {{/item.publish}}
            {{^item.publish}}
            <input type="checkbox" id="publish"/>
            {{/item.publish}}
            <label for="publish">Опубліковано</label>
        </div>-->
        <div>
            {{#item.fixed}}
            <input type="checkbox" id="fixed" checked/>
            {{/item.fixed}}
            {{^item.fixed}}
            <input type="checkbox" id="fixed"/>
            {{/item.fixed}}
            <label for="fixed">Порушення виправлено</label>
        </div>
        <h5>Додаткові матеріали</h5>
        <div class="post">
            <a class="file_link" href="{{item.file}}" target="_blank"><i class="glyphicon glyphicon-paperclip"></i>{{item.file}}</a>
            <!--<a class="file_link" href=""><i class="glyphicon glyphicon-paperclip"></i> Заява2.doc </a>-->
        </div>
        <div class="separator"></div>
        <div class="description row">
            <div class="col-lg-4">
                <span>{{item.university.name}}</span>
            </div>
            <div class="col-lg-4">
                <span>{{item.department}}</span>,
                <span>{{item.faculty}}</span>
            </div>
            <div class="col-lg-4">

                <div>
                    <span>Форма власності:
                        {{#item_gov}}
                            <span>державний<!--2--></span>
                        {{/item_gov}}
                        {{#item_com}}
                            <span>комунальний<!--3--></span>
                        {{/item_com}}
                        {{#item_private}}
                            <span>приватний<!--4--></span>
                        {{/item_private}}
                    </span>
                </div>
                <div>
                    <span>
                        <label for="national">статус національного:</label>
                        {{#item_national}}
                            <input id="national" type="checkbox" checked/>
                        {{/item_national}}
                        {{^item_national}}
                            <input id="national" type="checkbox"/>
                        {{/item_national}}
                    </span>
                </div>
                <div>
                    <span>
                        <label for="research">статус дослідницького:</label>
                        {{#item_research}}
                            <input id="research" type="checkbox" checked/>
                        {{/item_research}}
                        {{^item_research}}
                            <input id="research" type="checkbox"/>
                        {{/item_research}}
                    </span>
                </div>
            </div>
        </div>
        <div>
	      {{#item_accepted}}
          <a class="btn btn-lg btn-success" disabled id="accept">Прийняти</a>
          {{/item_accepted}}
          {{^item_accepted}}
          <a class="btn btn-lg btn-success" id="accept">Прийняти</a>
          {{/item_accepted}}
        
          {{#item_declined}}
          <a class="btn btn-lg btn-danger" disabled style="float:right" id="decline">Відхилити</a>
          {{/item_declined}}
          {{^item_declined}}
          <a class="btn btn-lg btn-danger" style="float:right" id="decline">Відхилити</a>
          {{/item_declined}}
        </div>
    </article>
</div>
<script>
    $(function(){
        $('#update').click(function(){
//            var data = ;
            $.post('/update_post', {
                id: $('.breach_item').attr('id'),
                subject: $('#subject').val(),
                description: $('#description').val(),
                publish: $('#publish').is(':checked'),
                national: $('#national').is(':checked'),
                research: $('#research').is(':checked'),
                fixed: $('#fixed').is(':checked')
            })
                    .success(function(){
                        alert('оновлено');
                    });
        });
        $('#remove').click(function(){
            if(!confirm('Впевнений?')) return;
            $.post('/remove_post', {
                id: $('.breach_item').attr('id')
            })
                    .success(function(){
                        alert('видалено');
                        location.pathname = '/admin/list';
                    });
        });
               $('#accept').one("click", function(){
            $.post('/accept_post', {
                id: $('.breach_item').attr('id'),
                state: 1,
            })
                    .success(function(){
                        alert('Скаргу прийнято');
                        
                    });
        });
        $('#decline').one("click", function(){
            $.post('/decline_post', {
                id: $('.breach_item').attr('id'),
                state: 2,
            })
                    .success(function(){
                        alert('Скаргу відхилено');
                    });
        });
    });
</script>
