<div class="container">
    <article class="well breach_item" id="{{item.id}}">
        <a href="/admin/list" class="fa fa-arrow-left"></a>
        <a style="margin-left:10px" class="red-button" id="remove">Видалити</a>
        <a style="margin-left:10px" class="green-button" id="update">Оновити</a>
        <h5>
            Тематика: <input style="margin-left:20px" class="expand" id="subject" type="text" value="{{item.subject}}"/>
        </h5>
        <div class="post">
            <p>
                <textarea name="" id="description" cols="100" rows="10">{{item.description}}</textarea>
            </p>
            <p >
                <textarea style="margin-top:15px" name="" id="fulldescription" cols="100" rows="20">{{item.full_description}}</textarea>
            </p>
            <p class="author_name"><i>{{item.position}}, {{item.city}}</i></p>
            <p>{{item.email}}</p>
        </div>
        <div>
            {{#item.fixed}}
            <input type="checkbox" id="fixed" checked/>
            {{/item.fixed}}
            {{^item.fixed}}
            <input type="checkbox" id="fixed"/>
            {{/item.fixed}}
            <label style="padding-left:10px" for="fixed">Порушення виправлено</label>
        </div>
        <h5>Додаткові матеріали</h5>
        <div class="post">
            <a class="file_link" href="{{item.file}}" target="_blank"><i class="fa fa-paperclip"></i>{{item.file}}</a>
        </div>
        <div class="separator"></div>
        <div class="item-part">
            <div>
                <span>{{item.university.name}}</span>
            </div>
            <div>
                <span>{{item.department}}</span>,
                <span>{{item.faculty}}</span>
            </div>
         </div>
         <div class="item-part">
                    <span>Форма власності:
                        {{#item_gov}}
                            <span>державний</span>
                        {{/item_gov}}
                        {{#item_com}}
                            <span>комунальний</span>
                        {{/item_com}}
                        {{#item_private}}
                            <span>приватний</span>
                        {{/item_private}}
                    </span>
          </div>
          <div class="item-part">
                    <span>
                        <label style="padding-right:10px" for="national">статус національного:</label>
                        {{#item_national}}
                            <input id="national" type="checkbox" checked/>
                        {{/item_national}}
                        {{^item_national}}
                            <input id="national" type="checkbox"/>
                        {{/item_national}}
                    </span>
          </div>
          <div class="item-part">
                    <span>
                        <label style="padding-right:10px" for="research">статус дослідницького:</label>
                        {{#item_research}}
                            <input id="research" type="checkbox" checked/>
                        {{/item_research}}
                        {{^item_research}}
                            <input id="research" type="checkbox"/>
                        {{/item_research}}
                    </span>
          </div>
        <div class="item-part">
	      {{#item_accepted}}
          <button class="green-button" disabled id="accept">Прийняти</button>
          {{/item_accepted}}
          {{^item_accepted}}
          <button class="green-button" id="accept">Прийняти</button>
          {{/item_accepted}}

          {{#item_declined}}
          <button class="red-button"  style="margin-left:20px" id="decline">Відхилити</button>
          {{/item_declined}}
          {{^item_declined}}
          <button class="red-button" style="margin-left:20px" id="decline">Відхилити</button>
          {{/item_declined}}
        </div>
    </article>
</div>
<script>
    $(function(){
        $('#update').click(function(){
//            var data = ;
            $.post('/update_post', {
                id: $('.breach_item').attr('id'),
                subject: $('#subject').val(),
                description: $('#description').val(),
                full_description: $('#fulldescription').val(),
                publish: $('#publish').is(':checked'),
                national: $('#national').is(':checked'),
                research: $('#research').is(':checked'),
                fixed: $('#fixed').is(':checked')
            })
                    .success(function(){
                        alert('оновлено');
                    });
        });
        $('#remove').click(function(){
            if(!confirm('Впевнений?')) return;
            $.post('/remove_post', {
                id: $('.breach_item').attr('id')
            })
                    .success(function(){
                        alert('видалено');
                        location.pathname = '/admin/list';
                    });
        });
               $('#accept').one("click", function(){
            $.post('/accept_post', {
                id: $('.breach_item').attr('id'),
                state: 1,
            })
                    .success(function(){
                        alert('Скаргу прийнято');

                    });
        });
        $('#decline').one("click", function(){
            $.post('/decline_post', {
                id: $('.breach_item').attr('id'),
                state: 2,
            })
                    .success(function(){
                        alert('Скаргу відхилено');
                    });
        });
    });
</script>
