<div ng-class="{
        'bounceInRight': viewOptions.activeTab === 'map',
        'bounceInLeft': viewOptions.activeTab !== 'map',
        'filter-left': viewOptions.activeTab === 'map'
    }"
     class="container well animated" style="position: relative">
    <i class="glyphicon glyphicon-filter"></i>

    <div class="row filter">
        <div class="col-lg-3">
            <div class="form-group">
                <div>Область / Місто</div>
                <select chosen
                        class="chosen-select"
                        ng-model="f.city"
                        ng-options="c for c in options.cities"
                        data-placeholder="Оберіть міста..."
                        style="width: 100%;"
                        multiple>
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div>Власність</div>
            <span class="small-input">
                <input ng-model="f.level.second" type="checkbox" name="level" value="2" id="id_level_2"/>
                <label for="id_level_2">державний</label>
            </span><br/>
            <span class="small-input">
                <input ng-model="f.level.third" type="checkbox" name="level" value="3" id="id_level_3"/>
                <label for="id_level_3">комунальний</label>
            </span><br/>
            <span class="small-input">
                <input ng-model="f.level.fourth" type="checkbox" name="level" value="4" id="id_level_4"/>
                <label for="id_level_4">приватний</label>
            </span>
        </div>
        <div class="col-lg-2">
            <div>Статус</div>
            <span class="small-input">
                <input ng-model="f.national" type="checkbox" id="id_national"/>
                <label for="id_national">нац.</label>
            </span>
            <span class="small-input">
                <input ng-model="f.research" type="checkbox" id="id_research"/>
                <label for="id_research">досл.</label>
            </span>
        </div>
        <div class="col-lg-5">
            <div class="form-group">
                <div>Тематика</div>
                <select chosen
                        multiple
                        ng-model="f.subject"
                        ng-options="c for c in options.subjects"
                        data-placeholder="Оберіть тематики...">
                    <option></option>
                </select>
            </div>
        </div>
    </div>
</div>