
<div class="container content-wrap" style="margin-bottom: 40px">
    <div class="row">
        {{#data}}

        <div class="item {{#isExpand}}expand{{/isExpand}}">
            <a href="/content/{{_id}}">
                <img src="{{preview_img}}" alt="img"/>
            </a>
            <h2>
                <a href="/content/{{_id}}">{{title}}</a>
            </h2>
            <p>
                {{preview}}
            </p>
            <p><a class="btn btn-default" href="/content/{{_id}}" role="button">Детальніше »</a></p>
        </div>

        {{/data}}
    </div>
</div>
