
<div class="wrapper" style="margin-top: 40px;margin-bottom:80px" ng-app="app" >

  <div ng-controller="contentListCtrl">

      {{=<% %>=}}
      <div class="content-left" style="float:left;width:65%">
        <div style="position:relative;width:100%;margin-bottom:20px">
          <img width="100%" ng-src="{{latest.preview_img}}" alt="img"/>
          <a style="display:block" href="/content/{{latest._id}}">
            <section style="background: rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)) repeat scroll 0 0;position: absolute;
            height:99%;top:0;width:100%;text-align:left">
            <div style="border: 1px solid white;margin:40px 15px 15px 15px;height:75%">
              <p style="color:white;width:70%;margin-left:40px;margin-top:25%;font-size:38px;font-weight:700">{{latest.title}}</p>
              <p style="margin-left:40px;color:white;font-size:14px"><i class="fa fa-calendar"></i> {{latest.date | date:'longDate'}}</p>
            </div>
            </section>
          </a>
        </div>

        <section ng-repeat="post in posts" class="article-container">
        <a href="/content/{{post._id}}">  <img width="100%" ng-src="{{post.preview_img}}" alt="img"/></a>
          <p>
            <a style="color: #293842;" href="/content/{{post._id}}">{{post.title}}
              <i style="color: #5bc626;font-weight:normal;padding-left:5px" class="fa fa-arrow-right"></i>
            </a>
          </p>
          <span>{{post.preview}}</span>
        </section>

        </div>
        <div class="content-right" style="float:right;width:25%">

        <p style="font-size:10px;letter-spacing:2px;margin-top:0">ПОПУЛЯРНІ СТАТТІ</p>

        <section ng-repeat="chosen in chosens" style="border-bottom: 1px solid #eee;margin-top:30px">
          <img width="100%" ng-src="{{chosen.preview_img}}" alt="img"/>
          <a href="/content/{{chosen._id}}"><p style="font-size:14px;color:#333">{{chosen.title}}</p></a>
        </section>

        </div>
      <div style="clear:both"></div>
<%={{ }}=%>
</div>
</div>
