<div class="container content single">
    <img style="width: 50%; margin-right: 20px; margin-bottom: 0px; float: left" src="{{item.preview_img}}" alt="img"/>
    <h1>
        {{item.title}}
    </h1>
    {{{item.content}}}
    <div class="share">
		<p>Поділитись:</p> 
		
<a href="https://twitter.com/intent/tweet?url="+><i class='fa fa-twitter fa-3x '></i></a>     
<a href="https://twitter.com/intent/tweet?url="><i class='fa fa-facebook fa-3x '></i></a>
<a href="https://twitter.com/intent/tweet?url="><i class='fa fa-google-plus fa-3x '></i></a>
<a href="https://twitter.com/intent/tweet?url="><i class='fa fa-vk fa-3x '></i></a>
    </div>
</div>
