<div class="container content single">
    <p style="margin-top: 50px">
        <a href="/" style="margin-left: 2em">Profrights.org</a> – це база даних порушень законодавства про вищу освіту. Кожен студент та викладач може зареєструвати повідомити про порушення, яке після премодерації буде каталогізовано та потрапить до нашої бази. База відображає порушення в декількох географічних та тематичних розрізах. Проект покликаний забезпечити моніторинг порушень нового Закону «Про вищу освіту» та виявляти найбільш поширені з них. Таким чином зібрані дані допоможуть прийняти необхідні зміни під час подальшого вдосконалення законодавства.
    </p>
</div>