<div class="container content single" >
    <p style="margin: 50px 0">
        <a href="/">Profrights.org</a> – це база даних, яка містить інформацію про порушення прав викладачів та студентів у вищих навчальних закладах. Кожен студент або викладач, або просто небайдужа людина може зареєструвати своє повідомлення про порушення, яке після премодерації каталогізують та внесуть до нашої бази. База відображає порушення в декількох географічних та тематичних розрізах. Проект покликаний забезпечити моніторинг порушень, виявляти найбільш поширені з них та інформувати про можливі шляхи захисту своїх прав. Окрім цього, зібрані дані допоможуть визначити необхідні зміни для подальшого вдосконалення законодавства.
    </p>
    <p>Проект Profrights має на меті привернути увагу до порушення прав студентів та викладачів у закладах вищої освіти.</p>

<p>Правовими основами діяльності проекту Profrights є Конституція України та Закон України "Про інформацію".</p>

<p>Profrights оприлюднює інформацію на основі отриманих або зібраних даних.
Джерелами інформації є надіслані безпосередньо особами, яких вони стосуються, скарги, інформація, отримана в поряду, передбаченому Законом України "Про доступ до публічної інформації",
а також інформація, яка знаходиться у відкритому доступі (повідомлення в пресі, єдиному державному реєстрі судових рішень, єдиному державному реєстрі осіб, які вчинили корупційне правопорушення тощо).
Висновки Рrofrights є оціночними судженнями, які відповідно до статті 30 Закону України «Про інформацію» не підлягають доведенню чи спростуванню.</p>

<p>Profrights надає особі, про яку було поширено інформацію, з якою вона не згодна, можливість представити власне тлумачення справи з метою обґрунтування безпідставності поширених суджень.
Надана оцінка буде оприлюднена на веб-сторінці Profrights.</p>

<p>Profrights не робить тверджень щодо доведеності фактів неправомірності або неетичності поведінки, щодо доведеності вини особи у вчиненні правопорушення,
крім випадків, коли така вина встановлена судом. Profrights оцінює вірогідність причетності особи до правопорушення або неетичної поведінки і поширює відповідну інформацію лише у випадку, 
коли така вірогідність, на думку Profrights, є високою і ґрунтується на фактичних даних, оприлюднених у достовірних джерелах.</p>

<p>Відповідно до статті 302 Цивільного кодексу, Profrights не зобов’язаний перевіряти достовірність інформації, отриманої з офіційних джерел, та не несе відповідальності в разі її спростування.</p>

<p>Profrights не поширює конфіденційну інформацію. Оприлюднюючи інформацію, Profrights бере до уваги, що відповідно до статті 21 Закону України "Про інформацію" не може бути віднесено
до інформації з обмеженим доступом (у т.ч. до конфіденційної інформації про особу) відомості про факти порушення прав і свобод людини, про незаконні дії органів державної влади,
органів місцевого самоврядування, їх посадових і службових осіб.</p>

<p>У своїй роботі Profrights дотримується законодавства України щодо захисту персональних даних.
При цьому враховується, що у випадку, коли персональні дані про особу отримані з загальнодоступних джерел, Profrights не зобов’язаний повідомляти особу про збирання і оброблення її персональних даних.</p>

<a href="http://www.cedos.org.ua" style="float:left"><img src="/img/cedos_big.png"/></a>
<a href="http://www.ned.org" style="float:right;margin-bottom:10px"><img src="/img/ned_big.png"/></a>
</div>
