<div class="wrapper content single" style="margin-bottom:30px" >
  <section class="about-title"><strong>Profrights.org</strong> – це база даних, яка містить інформацію про порушення прав викладачів
    та студентів у вищих навчальних закладах. </section>
    <div class="about-intro">
        <img style="vertical-align:middle; float:left" src="/img/9-layers.png"/>
        <section>
        <p>Кожен студент або викладач, або просто небайдужа людина може зареєструвати своє повідомлення про порушення,
        яке після премодерації каталогізують та внесуть до нашої бази.</p>
        <p> База відображає порушення в декількох географічних
        та тематичних розрізах. Проект покликаний забезпечити моніторинг порушень, виявляти найбільш поширені з них
        та інформувати про можливі шляхи захисту своїх прав. Окрім цього, зібрані дані допоможуть визначити необхідні
         зміни для подальшого вдосконалення законодавства.</p>
       </section>
    </div>
    <div class="about-text">
    <p>Проект Profrights має на меті привернути увагу до порушення прав студентів та викладачів у закладах вищої освіти.</p>

<p>Правовими основами діяльності проекту <strong>Profrights</strong> є Конституція України та Закон України "Про інформацію".</p>

<p><strong>Profrights</strong> оприлюднює інформацію на основі отриманих або зібраних даних.
Джерелами інформації є надіслані безпосередньо особами, яких вони стосуються, скарги, інформація, отримана в поряду, передбаченому Законом України "Про доступ до публічної інформації",
а також інформація, яка знаходиться у відкритому доступі (повідомлення в пресі, єдиному державному реєстрі судових рішень, єдиному державному реєстрі осіб, які вчинили корупційне правопорушення тощо).</p>

<p><strong>Висновки Profrights є оціночними судженнями, які відповідно до статті 30 Закону України «Про інформацію» не підлягають доведенню чи спростуванню.</strong></p>

<p><strong>Profrights</strong> надає особі, про яку було поширено інформацію, з якою вона не згодна, можливість представити власне тлумачення справи з метою обґрунтування безпідставності поширених суджень.
Надана оцінка буде оприлюднена на веб-сторінці <strong>Profrights</strong>.</p>

<p><strong>Profrights</strong> не робить тверджень щодо доведеності фактів неправомірності або неетичності поведінки, щодо доведеності вини особи у вчиненні правопорушення,
крім випадків, коли така вина встановлена судом. <strong>Profrights</strong> оцінює вірогідність причетності особи до правопорушення або неетичної поведінки і поширює відповідну інформацію лише у випадку,
коли така вірогідність, на думку <strong>Profrights</strong>, є високою і ґрунтується на фактичних даних, оприлюднених у достовірних джерелах.</p>

<p>Відповідно до статті 302 Цивільного кодексу, <strong>Profrights</strong> не зобов’язаний перевіряти достовірність інформації, отриманої з офіційних джерел, та не несе відповідальності в разі її спростування.</p>

<p><strong>Profrights не поширює конфіденційну інформацію.</strong> Оприлюднюючи інформацію, <strong>Profrights</strong> бере до уваги, що відповідно до статті 21 Закону України "Про інформацію" не може бути віднесено
до інформації з обмеженим доступом (у т.ч. до конфіденційної інформації про особу) відомості про факти порушення прав і свобод людини, про незаконні дії органів державної влади,
органів місцевого самоврядування, їх посадових і службових осіб.</p>

<p>У своїй роботі <strong>Profrights</strong> дотримується законодавства України щодо захисту персональних даних.
При цьому враховується, що у випадку, коли персональні дані про особу отримані з загальнодоступних джерел, Profrights не зобов’язаний повідомляти особу про збирання і оброблення її персональних даних.</p>
<div class="about-pics">
  <a href="http://www.cedos.org.ua" ><img src="/img/cedos_big.png"/></a>
  <a href="http://www.ned.org" style="margin-left:50px"><img src="/img/ned_big.png"/></a>
</div>
</div>
</div>
