
<div ng-app="app">
    <div ng-controller="breachesListCtrl">

        {{>filter}}

{{=<% %>=}}
        <section class="center-block">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Випра- влено</th>
                    <th>Область / Місто</th>
                    <th>ВНЗ</th>
                    <th>Власність</th>
                    <th>Статус<br/>нац.</th>
                    <th>Статус<br/>досл.</th>
                    <th>Факультет (інститут), кафедра</th>
                    <th>Тематика</th>
                    <th>Опис факту порушення прав</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in list | filter: filters.searchCityFilter | filter: filters.searchOwnerFilter | filter: filters.searchNationalFilter | filter: filters.searchResearchFilter| filter: filters.searchSubjectFilter| filter: filters.searchFixedFilter"
                    ng-click="read_more()"
                    ng-class="{success:item.fixed}">
                    <td>
                        <div>
                            <span>
                                <i ng-show="item.fixed" class="glyphicon glyphicon-ok icons"></i>
                                <i ng-hide="item.fixed" class="glyphicon glyphicon-remove icons"></i>
                            </span>
                        </div>
                    </td>
                    <td class="post_town"><span>{{item.city}}</span></td>
                    <td class="post_university">
                        <span data-toggle="tooltip"
                              data-placement="top"
                              title="{{ item.university.name }}">
                            {{ item.university.name.substr(0,25) }}<span ng-show="!item.univetsity.length < 25">...</span>
                        </span>
                    </td>
                    <td class="post_level">
                        <span ng-if="item.owner==='gov'">державна</span>
                        <span ng-if="item.owner==='com'">комунальна</span>
                        <span ng-if="item.owner==='private'">приватна</span>
                    </td>
                    <td class="post_status">
                        <div>
                            <span>
                                <i ng-show="item.national" class="glyphicon glyphicon-ok icons"></i>
                                <i ng-hide="item.national" class="glyphicon glyphicon-remove icons"></i>
                            </span>
                        </div>
                    </td>
                    <td class="post_status">
                        <div>
                            <span>
                                <i ng-show="item.research" class="glyphicon glyphicon-ok icons"></i>
                                <i ng-hide="item.research" class="glyphicon glyphicon-remove icons"></i>
                            </span>
                        </div>
                    </td>
                    <td class="post_faculty">
                        <span data-toggle="tooltip"
                              data-placement="top"
                              title="{{item.department+', '+item.faculty}}">
                            {{item.department.substr(0,15)}}<span ng-show="item.department.length > 15">... </span>,
                            {{item.faculty.substr(0,15)}}<span ng-show="item.faculty.length > 15">...</span>
                        </span>
                    </td>
                    <td class="post_theme">
                        <span data-toggle="tooltip"
                              data-placement="top"
                              title="{{item.subject}}">
                            {{item.subject.substr(0,30)}}<span ng-show="item.subject.length > 30">...</span>
                        </span>
                    </td>
                    <td class="post_description">
                    <span>
                        {{item.description.substr(0,30)}}<span ng-show="item.description.length > 30">...</span>
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<%={{ }}=%>
<script>
    var isAdmin = false;
</script>
<script>
    $(function () {
        $('body').tooltip({
            selector: "[data-toggle=tooltip]"
        });
    });
</script>
