
<div ng-app="app">
    <div ng-controller="breachesListCtrl">

        {{>filter}}

{{=<% %>=}}

        <section class="center-block wrapper">
<p><strong>Зареєстровано порушень: <span style="color: #2aa2ff;">{{filteredList.length}}</span></strong></p>
            <table class="table table-striped table-hover">
              <colgroup>
  <col style="width:4%">
  <col style="width:11%">
  <col style="width:19%">
  <col style="width:7%">
  <col style="width:12%">
  <col style="width:17%">
  <col style="width:30%">
</colgroup>
                <thead>
                <tr>
                    <th> </th>
                    <th>Область / Місто</th>
                    <th>ВНЗ</th>
                    <th>Власність</th>
                    <th>Факультет (інститут), кафедра</th>
                    <th>Тематика</th>
                    <th>Опис факту<br />порушення прав</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in (filteredList = (list | filter: filters.searchCityFilter | filter: filters.searchOwnerFilter | filter: filters.searchNationalFilter | filter: filters.searchResearchFilter| filter: filters.searchSubjectFilter| filter: filters.searchFixedFilter))"
                    ng-click="read_more($index)"
                    ng-class="{success:item.fixed}">
                    <td>
                        <div>
                            <span>
                                <i ng-show="item.fixed" class="fa fa-check-circle-o fa-lg"></i>
                                <i ng-hide="item.fixed" class="fa fa-times-circle-o fa-lg"></i>
                            </span>
                        </div>
                    </td>
                    <td class="post_town"><span>{{item.city}}</span></td>
                    <td class="post_university">
                        <span data-toggle="tooltip"
                              data-placement="top"
                              title="{{ item.university.name }}">
                            {{ item.university.name }}
                            <br />
                            <span class="span-status" ng-show="item.national">національний</span>
                            <span class="span-status" ng-show="item.research">дослідницький</span>
                        </span>
                    </td>
                    <td class="post_level">
                        <span ng-if="item.owner==='gov'">державна</span>
                        <span ng-if="item.owner==='com'">комунальна</span>
                        <span ng-if="item.owner==='private'">приватна</span>
                    </td>
                    <td class="post_faculty">
                      <span ng-hide="item.display">
                          {{item.department.substr(0,15)}}<span ng-show="item.department.length > 85">...</span>
                          {{item.faculty.substr(0,15)}}<span ng-show="item.faculty.length > 15">...</span>
                      </span>
                      <span ng-show="item.display">
                          {{item.department}}
                          {{item.faculty}}
                      </span>
                    </td>
                    <td class="post_theme">
                      <span ng-hide="item.display">
                          {{item.subject.substr(0,35)}}<span ng-show="item.subject.length > 35">...</span>
                      </span>
                      <span ng-show="item.display">
                          {{item.subject}}
                      </span>
                    </td>
                    <td class="post_description">
                    <span ng-hide="item.display">
                        {{item.description.substr(0,85)}}<span ng-show="item.description.length > 85">...</span>
                    </span>
                    <span ng-show="item.display">
                        {{item.description}}
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<%={{ }}=%>
<script>
    var isAdmin = false;
</script>
<script>
    $(function () {
        $('body').tooltip({
            selector: "[data-toggle=tooltip]"
        });
    });
</script>
