<div class="container">
    <article class="well">
        <a href="/all_breaches" class="glyphicon glyphicon-arrow-left"></a>
        <h5>{{item.subject}}</h5>
        <div class="post">
            <p>
                {{item.description}}
            </p>
            <p class="author_name"><i>{{item.position}}, {{item.city}}</i></p>
        </div>
        <h5>Додаткові матеріали</h5>
        <div class="post">
            <a class="file_link" href=""><i class="glyphicon glyphicon-paperclip"></i> Заява.doc </a>
            <a class="file_link" href=""><i class="glyphicon glyphicon-paperclip"></i> Заява2.doc </a>
        </div>
        <div class="separator"></div>
        <div class="description row">
            <div class="col-lg-4">
                <span>{{item.university.name}}</span>
            </div>
            <div class="col-lg-4">
                <span>{{item.department}}</span>,
                <span>{{item.faculty}}</span>
            </div>
            <div class="col-lg-4">
                <div>
                    <span>Форма власності:
                        {{#item_gov}}
                            <span>державний<!--2--></span>
                        {{/item_gov}}
                        {{#item_com}}
                            <span>комунальний<!--3--></span>
                        {{/item_com}}
                        {{#item_private}}
                            <span>приватний<!--4--></span>
                        {{/item_private}}
                    </span>
                </div>
                <div>
                    <span>статус національного:
                        {{#item_national}}
                            <i class="glyphicon glyphicon-ok icons"></i>
                        {{/item_national}}
                        {{^item_national}}
                            <i class="glyphicon glyphicon-remove icons"></i>
                        {{/item_national}}
                    </span>
                </div>
                <div>
                    <span>статус дослідницького:
                        {{#item_research}}
                            <i class="glyphicon glyphicon-ok icons"></i>
                        {{/item_research}}
                        {{^item_research}}
                            <i class="glyphicon glyphicon-remove icons"></i>
                        {{/item_research}}
                    </span>
                </div>
            </div>
        </div>
    </article>
</div>
