<div class="container">
    <article class="well">
        <a href="all_breaches.html" class="glyphicon glyphicon-arrow-left"></a>
        <h5>Участь у професійних спілках та у громадському самоврядуванні ВНЗ</h5>
        <div class="post">
            <p>
                Формування складу Вченої ради УжНУ в особистих інтересах ректора Ващука, без дотримання принципу виборності представників та представництва в складі Вченої ради всіх факультетів. Внаслідок чого, окремі члени Вченої ради була затверджена наказом ректора.
            </p>
            <p class="author_name"><i>професор, завідувач кафедри, Ужгород</i></p>
        </div>
        <h5>Додаткові матеріали</h5>
        <div class="post">
            <a class="file_link" href=""><i class="glyphicon glyphicon-paperclip"></i> Заява.doc </a>
            <a class="file_link" href=""><i class="glyphicon glyphicon-paperclip"></i> Заява2.doc </a>
        </div>
        <div class="separator"></div>
        <div class="description row">
            <div class="col-lg-4">
                <span>Ужгородський національний університет</span>
            </div>
            <div class="col-lg-4">
                <span>Факультет суспільних наук, кафедра політології і державного управління</span>
            </div>
            <div class="col-lg-4">
                <div><span>рівень акредитації: <span class="icons">&#8547</span></span></div>
                <div><span>статус національного: <i class="glyphicon glyphicon-ok icons"></i></span></div>
                <div><span>статус дослідницького: <i class="glyphicon glyphicon-remove icons"></i></span></div>
            </div>
        </div>
    </article>
</div>
