<div class="wrapper" style="margin-top:30px">
    <article class="well">
        <a href="/all_breaches"></a>
        <h4 style="font-size:24px;font-weight:700">{{item.subject}}</h4>
        <div class="post">
            <p>
                {{item.description}}
            </p>
            <p class="author_name"><i>{{#item.position}}<span>{{item.position}},</span>{{/item.position}} {{item.city}}</i></p>
        </div>
        <div class="separator"></div>
        <div class="description row">
            <div class="col-lg-4">
                <span>{{item.university.name}}</span>
            </div>
            <div class="col-lg-4">
                <span>{{item.department}}</span>{{#item.department}},{{/item.department}}
                <span>{{item.faculty}}</span>
            </div>
            <div class="col-lg-4">
                <div>
                    <span>Форма власності:
                        {{#item_gov}}
                            <span>державний<!--2--></span>
                        {{/item_gov}}
                        {{#item_com}}
                            <span>комунальний<!--3--></span>
                        {{/item_com}}
                        {{#item_private}}
                            <span>приватний<!--4--></span>
                        {{/item_private}}
                    </span>
                </div>
                <div>
                    <span>статус національного:
                        {{#item_national}}
                            <i class="fa fa-check"></i>
                        {{/item_national}}
                        {{^item_national}}
                            <i class="fa fa-times"></i>
                        {{/item_national}}
                    </span>
                </div>
                <div>
                    <span>статус дослідницького:
                        {{#item_research}}
                            <i class="fa fa-check"></i>
                        {{/item_research}}
                        {{^item_research}}
                            <i class="fa fa-times"></i>
                        {{/item_research}}
                    </span>
                </div>
            </div>
        </div>
    </article>
</div>
