<div class="container content">
    <form action="" class="form-horizontal well">
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Місто</label>
            <div class="col-sm-8">
                <select name="" id="city" class="chosen-select form-control" data-placeholder="Оберіть місто...">
                    <option></option>
                    <option value="Одеса">Одеса</option>
                    <option value="Київ">Київ</option>
                    <option value="Чернівці">Чернівці</option>
                    <option value="Чернівці">Кам'янець-Подільський</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Назва ВНЗ</label>
            <div class="col-sm-8">
                <select name="" id="study" class="chosen-select form-control" data-placeholder="Оберіть навчальний заклад...">
                    <option></option>
                    <option value="Одеська національна академія зв'язку ім. О. С. Попова">Одеська національна академія зв'язку ім. О. С. Попова</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Рівень акредитації</label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="" value="option2">&#8545
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="" value="option3">&#8546
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="" value="option3">&#8547
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Чи має ВНЗ статус національного</label>
            <div class="col-sm-3">
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="" value="option1">Так
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="" value="option2">Ні
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Чи має ВНЗ статус дослідницького</label>
            <div class="col-sm-4">
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="" value="option1">Так
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="" value="option2">Ні
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Факультет (інститут), кафедра</label>
            <div class="col-sm-2">
                <input type="text" size="50" class="form-control" placeholder="Назва факультету (інституту), назва кафедри"/>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Посада</label>
            <div class="col-sm-2">
                <input type="text" size="50" class="form-control" placeholder="Посада"/>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Тематика</label>
            <div class="col-sm-8">
                <select name="" id="subjects" class="form-control chosen-select" data-placeholder="Оберіть тематику...">
                    <option></option>
                    <option value="">оплата праці</option>
                    <option value="">побутові умови праці</option>
                    <option value="">відпустка</option>
                    <option value="">робочий час та норми навантаження</option>
                    <option value="">вільний вибір методів та засобів навчання в межах затверджених навчальних планів</option>
                    <option value="">наукова діяльність у вищих навчальних закладах</option>
                    <option value="">забезпечення житлом та одержання службового житла</option>
                    <option value="">пільгові кредити для індивідуального чи кооперативного житлового будівництва</option>
                    <option value="">одержання державних стипендій</option>
                    <option value="">підвищення кваліфікації</option>
                    <option value="">інтелектуальна власність</option>
                    <option value="">конкурс на заміщення посади та прийом на роботу</option>
                    <option value="">участь у професійних спілках та у громадському самоврядуванні ВНЗ</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Опис факту порушення прав</label>
            <div class="col-sm-8">
                <textarea name="" id="" cols="90" rows="10" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Додати файл (pdf, doc, jpeg, tiff)</label>
            <div class="col-sm-6" style="padding-top: 10px">
                <div class="comment add_file"><i>додаткові матеріали<br/>(можна додати декілька файлів)</i></div>
                <input type="file" multiple/>
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-7">
                <div class="comment email"><i>публікуватись<br/>не буде</i></div>
                <input type="text" size="50" class="form-control" placeholder="Email"/>
            </div>
        </div>
        <div class="center-block" style="margin-top: 50px">
            <button type="submit" class="btn btn-lg btn-success center-block">Надіслати</button>
        </div>
    </form>
</div>
