<div class="jumbotron">
    <div class="container">
        <h1>Profrights.org</h1>
        <p>
            Profrights.org – це база даних порушень законодавства про вищу освіту. Кожен студент та викладач може зареєструвати повідомити про порушення, яке після премодерації буде каталогізовано та потрапить до нашої бази. База відображає порушення в декількох географічних та тематичних розрізах. Проект покликаний забезпечити моніторинг порушень нового Закону «Про вищу освіту» та виявляти найбільш поширені з них. Таким чином зібрані дані допоможуть  прийняти необхідні зміни під час подальшого вдосконалення законодавства.
        </p>
        <p><a href="/form" class="btn btn-primary btn-lg">Повідомити про порушення »</a></p>
    </div>
</div>
<div class="container" style="margin-bottom: 40px">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Аналітична стаття</h2>
            <p>
                Про неприпустимість примушення до праці студентів в якості дисциплінарних покарань.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Заголовок</h2>
            <p>
                Та короткий опис ще одного цікавого матеріалу правозахисної тематики гарно оформлений та проілюстрований.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Звіт</h2>
            <p>
                Про роботу за минулий 2013-й рік, та оголошення плану діяльності на наступний квартал.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>

        <div class="col-md-4">
            <h2>Заголовок</h2>
            <p>
                Та короткий опис ще одного цікавого матеріалу правозахисної тематики гарно оформлений та проілюстрований.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>


        <div class="col-md-4">
            <h2>Звіт</h2>
            <p>
                Про роботу за минулий 2013-й рік, та оголошення плану діяльності на наступний квартал.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Аналітична стаття</h2>
            <p>
                Про неприпустимість примушення до праці студентів в якості дисциплінарних покарань.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Аналітична стаття</h2>
            <p>
                Про неприпустимість примушення до праці студентів в якості дисциплінарних покарань.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Заголовок</h2>
            <p>
                Та короткий опис ще одного цікавого матеріалу правозахисної тематики гарно оформлений та проілюстрований.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Звіт</h2>
            <p>
                Про роботу за минулий 2013-й рік, та оголошення плану діяльності на наступний квартал.
            </p>
            <p><a class="btn btn-default" href="#" role="button">Детальніше »</a></p>
        </div>
    </div>
</div>
