<div class="jumbotron">
    <div class="container" style="position:relative">
        <!--<h1>Profrights.org</h1>-->
        <img src="/img/profrights_logo.png" alt="profrights logo"/>

        <br/>
        <br/>
        <p>
            Цей сайт створено для моніторингу порушень прав викладачів та студентів.
        </p>
        <a href="/form" class="btn btn-primary btn-lg">Повідомити про порушення</a>
                <a href="https://www.facebook.com/Profrights.org" style="text-decoration: none">
        		  <i class="fa fa-2x fa-facebook fa-border" style="color:#3276B1;vertical-align:middle;margin-left:10px;"></i>
        		</a>
        		<a href="https://vk.com/profrights">
        		  <i style="color:#3276B1;margin-left:10px;vertical-align:middle" class="fa fa-border fa-2x fa-vk"></i>
        		</a>
    </div>
</div>
<div class="container" style="margin-bottom: 40px">
    <!-- Example row of columns -->

    <div class="row">
        {{#data}}
        <div class="item">
            <a href="/content/{{_id}}">
                <img src="{{preview_img}}" alt="img"/>
            </a>
            <h2>
                <a href="/content/{{_id}}">{{title}}</a>
            </h2>
            <p>
                {{preview}}
            </p>
            <p><a class="btn btn-default" href="/content/{{_id}}" role="button">Детальніше »</a></p>
        </div>
        {{/data}}
        {{^data}}
        <img src="/img/info-image.png" width="960"/>
        {{/data}}
    </div>
    <div class="row">
      {{^data}}
      <div>
      <p style="color: #134E84"><strong>Profrights.org не поширює інформацію з обмеженим доступом.</strong></p>
      <p><strong>Profrights.org оцінює вірогідність причетності особи до правопорушення або неетичної поведінки і поширює відповідну інформацію лише у випадку,
          коли така вірогідність, на думку Profrights.org, є високою і ґрунтується на фактичних даних, оприлюднених у достовірних джерелах.</strong></p>
      {{/data}}
    </div>
    </div>
</div>
<style>
	.fa-border {
		border: 0.08em solid  #3276B1;
		border-radius: 6px
	}
</style>