<div class="jumbotron">
    <div class="container">
        <!--<h1>Profrights.org</h1>-->
        <img src="/img/profrights_logo.png" alt="profrights logo"/>
        <br/>
        <br/>
        <p>
            Цей сайт створено для моніторингу порушень прав викладачів та студентів.
        </p>
        <p><a href="/form" class="btn btn-primary btn-lg">Повідомити про порушення »</a></p>
    </div>
</div>
<div class="container" style="margin-bottom: 40px">
    <!-- Example row of columns -->

    <div class="row">
        {{#data}}
        <div class="item">
            <a href="/content/{{_id}}">
                <img src="{{preview_img}}" alt="img"/>
            </a>
            <h2>
                <a href="/content/{{_id}}">{{title}}</a>
            </h2>
            <p>
                {{preview}}
            </p>
            <p><a class="btn btn-default" href="/content/{{_id}}" role="button">Детальніше »</a></p>
        </div>
        {{/data}}
        {{^data}}
        <img src="/img/info.png" />
        {{/data}}
    </div>
    <div class="row">
      {{^data}}
      <div>
      <p style="color: #134E84"><strong>Profrights.org не поширює інформацію з обмеженим доступом.</strong></p>
      <p><strong>Profrights.org оцінює вірогідність причетності особи до правопорушення або неетичної поведінки і поширює відповідну інформацію лише у випадку,
          коли така вірогідність, на думку Profrights.org, є високою і ґрунтується на фактичних даних, оприлюднених у достовірних джерелах.</strong></p>
      {{/data}}
    </div>
    </div>
</div>
