<div ng-app="app"
     ng-controller="breachesListCtrl"
     ng-init="viewOptions={activeTab:''}"
     class="">

     <div>
         <br ng-if="viewOptions.activeTab === 'map'"/>
         {{>filter}}
     </div>
     <ul class="tablist" role="tablist">
         <li ng-class="{active: viewOptions.activeTab === 'map'}">
             <a class="info-switch"  ng-click="viewOptions.activeTab = 'map'" href="#"><img src="/img/diag.png" />Карта</a>
         </li>
         <li ng-class="{active: viewOptions.activeTab !== 'map'}">
             <a class="info-switch" style="margin-left:10px" ng-click="viewOptions.activeTab = ''" href="#"><img src="/img/map.png" />Діаграми</a>
         </li>
     </ul>
    <div style="position: relative; clear:both" ng-switch="viewOptions.activeTab">
        <div ng-switch-when="map"
             ng-controller="mapCtrl"
             class="map-container wrapper" style="text-align:center;width:100%;margin:auto">
             	<p style="padding:30px 0; position:relative; z-index:-100"><strong>Зареєстровано порушень: <span style="color: #2aa2ff;" ng-bind="filteredData.length"></span></strong></p>

            <ul class="nav nav-tabs" role="tablist"><!--lust line--></ul>
            <div id="map" style="width: 100%;"></div>
            <div style="clear:both"></div>
        </div>

        <div ng-switch-default ng-controller="graphicsCtrl">

            <div class="wrapper" style="text-align:center">

					      <p style="padding:30px 0; position:relative; z-index:-100">
                  <strong>Зареєстровано порушень: <span style="color: #2aa2ff;" ng-bind="filteredData.length"></span></strong>
                </p>
                <div data="chartReg" barchart id="chart-regions-container" style="text-align:left;position:relative">
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>



</div>
<script src="https://api-maps.yandex.ru/2.1/?lang=uk_UA" type="text/javascript"></script>

<script>
    var mapAvailable;
    ymaps.ready(function(){mapAvailable = true});
</script>
