<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>breach</title>
    <link rel="stylesheet" href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/chosen/chosen.min.css"/>
    <script type="text/javascript" src="http://yandex.st/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
<div class="wrap">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a href="form">Повідомити про порушення</a></li>
                        <li class=""><a href="all_breaches">Зареєстровані порушення</a></li>
                        <li class=""><a href="">Інфографіка</a></li>
                        <li class=""><a href="">Як захистити свої права</a></li>
                        <li class=""><a href="">Про проект</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {{{ yield }}}
</div>
<footer class="panel-footer">
    <div class="container">
        <p><small>Lorem ipsum dolor sit amet.</small></p>
    </div>
</footer>
</body>
</html>