.content-wrap
  font-size 0
  padding-bottom 50px
  .item
    width 33%
    display inline-block
    vertical-align top
    box-sizing border-box
    padding 10px 10px 20px 10px
    position relative
    font-size 14px
    h2
      margin-top 10px
      font-family "pfd"
    img
      width 100%
    &.expand
      width 100%
      h2
        margin-top 0
      img
        width 50%
        float left
        margin-right 20px
  &.single
    font-size 16px
    h1
      margin-top 0
      font-family "pfd"
.content
  &.single
    font-size 16px
    line-height 20px
    h1
      margin-top 0
      font-family "pfd"
