@font-face 
  font-family: 'pfd'
  src: asset-url('pfd.eot')
  src: asset-url('pfd.eot?#iefix') format('embedded-opentype'),
       asset-url('pfd.woff') format('woff'),
       asset-url('pfd.ttf') format('truetype'),
       asset-url('pfd.svg#etelka_medium_proregular') format('svg')
  font-weight: normal
  font-style: normal



