div
  content hack;

.map-container
  position absolute
  top 180px
  left 0
  width 100%
.filter-left
  margin-left 20px
  padding 7px
  -webkit-transition margin-left 0.5s
  transition margin-left 0.5s
.chart-regions-container
  /*position relative*/
  z-index -10
  width 60%
.pie-legend
  float right
  margin-top -300px
  li
    list-style none
    margin-right 1em
  span
    display inline-block
    height 1em
    width 1em
    margin-right .3em
    position relative
    bottom -.1em
.container.well.animated.bounceInRight.filter-left
  margin auto
