html, body
  height 100%
  padding 0
  margin 0
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
.container
  width 960px
.wrap
  min-height 100%
  height auto !important
  height 100%
  padding-bottom 50px
.navbar-default
  box-shadow none
  background-image none
  border-radius 0
.collapse.navbar-collapse
  padding 0
.form-control
  width auto
  max-width 580
.small-input
  margin-right .7em
textarea
  max-width 100%
a.chosen-single, .chosen-default
  height 34px !important
  padding 4px 12px 6px 12px !important
  font-size 14px !important
  div
    b
      margin-top 5px !important
div#city_chosen
  width 250px !important
div#study_chosen
  width 430px !important
div#subjects_chosen
  width 580px !important
.comment
  float right
  font-size 12px
  color #777777
  &.email
    padding-right 60px
  &.add_file
    padding-right 10px
footer
  height 75px
  margin-top -75px


a.glyphicon.glyphicon-arrow-left
  /*margin-bottom 20px*/
  font-size 24px
  color #777
  text-decoration none
  &:hover
    color #333
article
  position relative
  .author_name
    text-align right
  .post
    color #000000
    padding 0px 150px
  h5
    font-weight 700
  .description
    margin-top 10px
    text-align right
.icons
  display inline-block
  width 1em
.file_link
  margin-right 1em
.separator
  margin-top 10px
  border-bottom 1px solid #afafaf
section
  padding 0 5%
  min-width 960px
th
  vertical-align middle !important
.post_town
  width 10%
.post_university
  width 15%
.post_level
  text-align center
  width 60px
.post_status
  text-align center
  width 60px
.post_faculty
  width 25%
.post_theme
  width 25%
.post_description
  width 25%
span[data-toggle="tooltip"]:hover
  cursor pointer
.glyphicon-filter
  font-size 16px
  color #777777
  &:hover
    cursor pointer
    color black

.chosen-container-multi .chosen-choices li.search-field input[type=text]
  height auto !important

.home
  margin-right 5em

select
  max-width 100%